<h1>Register here!</h1>
<p class="text-danger" ng-show="error">{{ error }}</p>
<form ng-submit="register()">
  <input type="text" class="form-control" ng-model="register.username" placeholder="Username">
  <input type="password" class="form-control" ng-model="register.password" placeholder="Password">
  <input type="submit" class="btn btn-default" value="Submit">
</form>

<h1>Login here!</h1>
<p class="text-danger" ng-show="loginError">{{ loginError }}</p>
<form ng-submit="login()">
  <input type="text" class="form-control" ng-model="login.username" placeholder="Username">
  <input type="password" class="form-control" ng-model="login.password" placeholder="Password">
  <input type="submit" class="btn btn-default" value="Submit">
</form>
